body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #F3CA52, #6dd5fa, #ffffff);
  background-size: 600% 600%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; /* Adjust the width to make the form container wider */
  margin: auto; /* Center the form container horizontally */
  height: 500px;
}

.form-toggle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-toggle button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  border-bottom: 2px solid transparent;
}

.form-toggle .active {
  border-bottom: 2px solid #007bff;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}
